// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/task-list";
@import "patterns/_panel";
@import "patterns/button";
@import "govuk-page-masthead";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.secondary-button {
    margin: 0 0 0 .5em;
}
#bannerBar {
    background-color: #F3F2F1;
    padding: 0 0 0 0.5em;  
}
.govuk-notification-banner {
    margin: 1em 0 0 0;
}

.gem-c-devolved-nations {
    background: #f3f2f1;
    margin-bottom: 15px;
    padding: 15px;
  }