<p>It will only take a few minutes and you’ll need your:</p>

{%- if data['emailAuth'] == 'true' -%}
<ul class="govuk-list govuk-list--bullet">
  <li>
    name
  </li>
  <li>
    date of birth
  </li>
  <li>
    mobile phone number (used for account security)
  </li>
</ul>
{%- else -%}
<ul class="govuk-list govuk-list--bullet">
  <li>
    email address (used for contact and account security)
  </li>
  <li>
    mobile phone number (used for account security)
  </li>
  <li>
    name and date of birth
  </li>
</ul>
<p>We may ask some follow-up questions to see if you're already in our records.</p>

{%- endif -%}

<p>Once you've created an account, you can continue to <b>{{ data.onwardContinue or data.qa}}</b>.</p>
