
{% set dateOfBirthArray = (data.user.dateOfBirth or data.defaultData.dateOfBirth) | toDateArray %}

{{ govukDateInput({
  id: "[dob]",
  namePrefix: "user[dateOfBirth]",
  fieldset: {
  },
  hint: {
    text: "For example, 27 3 1987"
  },
  items: [
    {
      name: "day",
      label: "Day",
      value: dateOfBirthArray["0"],
      classes: "govuk-input--width-2"
    },
    {
      name: "month",
      label: "Month",
      value: dateOfBirthArray["1"],
      classes: "govuk-input--width-2"
    },
    {
      name: "year",
      label: "Year",
      value: dateOfBirthArray["2"],
      classes: "govuk-input--width-4"
    }
  ]
}) }}


