{% set email %}
  {%- if data['matchAccountEmail'] == 'true' -%}
    {{data.email | maskEmail}}
  {%- else -%}
    {{ data.email or 'email@example.com' }}
  {%- endif -%}
{% endset %}


<p>A confirmation code has been sent to <strong>({{ email }})</strong>.</p>

{{ govukInput({
  label: {
    text: "Confirmation code",
    classes: "govuk-label--s"
  },
  classes: 'govuk-!-width-one-quarter',
  decorate: 'email-code'
}) }}

<p>
  <a href="resend-email">I have not received an email</a>
</p>

{%- if signIn -%}
<p>
  <a href="/sign-in/resend-phone">I can't access this email address</a>
</p>
{%- endif -%}

