{% set email %}
  {%- if data['matchAccountEmail'] == 'true' -%}
    {{data.user.email | maskEmail}}
  {%- else -%}
    {{ data.user.email or data.defaultData.email }}
  {%- endif -%}
{% endset %}


<p>A confirmation code has been sent to <strong>{{ email }}</strong>.</p>

{{ govukInput({
  label: {
    text: "Confirmation code",
    classes: "govuk-label--s"
  },
  classes: 'govuk-!-width-one-quarter',
  decorate: 'email-code'
}) }}

<p>
  <a href="resend-email">I have not received an email</a>
</p>

{%- if signIn -%}
  <p>
    <a href="/sign-in/resend-phone">I cannot access this email address</a>
  </p>
{%- endif -%}
