{% set signinHtml %}
  href={{- signIn -}}
{% endset -%}

<h1 class="govuk-heading-xl">Create a Teaching services account</h1>


  <p>It will only take a few minutes and you’ll need:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      an email address (used for contact and account security)
    </li>
    <li>
      a mobile phone number (used for account security)
    </li>
    <li>
      your name and date of birth
    </li>
</ul>
    <p>Once you've created an account, you can continue to {{ data.qts }}.</p>

  {{ govukButton({
    text: 'Create an account',
    href: accountPath
  }) }}

  <h1 class="govuk-heading-m">Already have an account?</h1>

  <p class="govuk-body govuk-!-margin-bottom-6">
    <a {{signinHtml}}>Sign in</a> using your existing account details.
  </p>


  {{ govukDetails({
    summaryText: "About Teaching services accounts",
    html: "
    <p>Teaching services accounts are new. They let teachers and teaching professionals access different DfE services with one login. You can also update your details with DfE in one place.</p>
    <p>At the moment there are only a few DfE services using Teaching services accounts. In the future, you’ll be able to use your account details to sign in to most DfE teaching services.</p>
    "
    }) }}
