{% set signinHtml %}
  href={{- signIn -}}
{% endset -%}

<h1 class="govuk-heading-xl">Create a {{ serviceName }}</h1>



  {% include 'auth/_account-info.html' %}
  {% include 'auth/_about-account.html' %}


  {{ govukButton({
    text: 'Create an account',
    classes: "app-button--inverse",
    href: accountPath
  }) }}

  <h1 class="govuk-heading-m">Already have an account?</h1>

  <p class="govuk-body govuk-!-margin-bottom-6">
    <a {{signinHtml}}>Sign in</a> using your existing account details.
  </p>



