<p class="govuk-body">
  Use the name on your official documents, for example, your passport. 
</p>

<p class="govuk-body">
  For some name changes you’ll need to provide evidence, for example, change of last name due to marriage.
</p>

{{ formAction | log}}



{{ govukInput({
  id: "firstNames",
  name: "user[firstNames]",
  hint: {
    text: "Or given names"
  },
  label: {
    text: "First names",
    classes: 'govuk-label--s'
  },
  value: data.user.firstNames
}) }}

{{ govukInput({
  id: "middleNames",
  name: "user[middleNames]",
  label: {
    text: "Middle names",
    classes: 'govuk-label--s'
  },
  value: data.user.middleNames
}) }}


{{ govukInput({
  id: "lastNames",
  name: "[lastNames]",
  hint: {
    text: "Or family names"
  },
  label: {
    text: "Last names",
    classes: 'govuk-label--s'
  },
  value: data.user.lastNames
}) }}


