{% set phonehtml %}
  
  {%- if signIn -%}
    {{' ' + data.phone | maskPhoneNumber if data['phone'] else '**** ** 9615' }}

  {%- else -%}
    {{' ' + data.phone if data['phone'] else '07827999615' }}

  {%- endif -%}

{% endset -%}


<p>We’ve sent you a text message with a security code to <strong>{{phonehtml}}</strong></p>

{{ govukInput({
  label: {
    text: "Security code",
    classes: "govuk-label--s"
  },
  
  classes: 'govuk-!-width-one-quarter',
  decorate: 'email-code'
}) }}

<p>
  <a href="/sign-in/resend-phone">I have not received an text message</a>
</p>


{%- if signIn -%}
<p>
  <a href="/auth/change-email-request">I can't access this mobile number</a>
</p>
{%- endif -%}