
<p>Text messages sometimes take a few minutes to arrive. If you do not receive the text message, you can request a new one.</p>

{% set resendPhoneHtml %}
{{ govukInput({
    id: "[phone]",
    name: "[phone]",
    label: {
      text: "Mobile number ",
      classes: "govuk-label--s"
    },
    type: "tel",
    autocomplete: "tel",
    hint: {
      html: "For international numbers include the country code"
    },
    value: data['phone'] or phone
  }) }}



{% endset -%}

{{ govukDetails({
  summaryText: "Change where the text message is sent",
  html: resendPhoneHtml
  }) }}

