{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  titleText: "Personal details",
  rows: [
  {
    key: {
      html: 'Email'
    },
    value: {
      html: data['email'] | title if data['email'] else 'email@example.com'
    
    }
  },  
  {
    key: {
      html: 'Mobile phone'
    },
    value: {
      html: data['phone'] | title if data['phone'] else '07827999613'
    
    },
    actions: {
      items: [{
        text: 'Change',
        href: "phone"
      }]
    }
  },
    {
      key: {
        html: 'Name'
      },
      value: {
        html: data['fullName'] | title if data['firstName'] else 'John Smith'
      },
      actions: {
        items: [{
          text: 'Change',
          href: "name"
        }]
      }
    },
    {
      key: {
        html: 'Date of birth'
      },
      value: {
        html: data.dob | isoDateFromDateInput | date if data['dob'] else '31 December 2021'
      },
      actions: {
        items: [{
          text: 'Change',
          href: "date-of-birth"
        }]
      }
    },
    {
      key: {
        html: 'Do you have a National Insurance number?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [{
          text: 'Change',
          href: "have-nino"
        }]
      }
    } if data['have-nino'] == "no",
    {
      key: {
        html: 'National Insurance number'
      },
      value: {
        html: data['national-insurance-number'] or 'Not given'
      },
      actions: {
        items: [{
          text: 'Change',
          href: "nino"
        }]
      }
    } if data['have-nino'] == "yes",
    {
      key: {
        html: 'Do you have a Teacher reference number (TRN)?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [{
          text: 'Change',
          href: "have-trn"
        }]
      }
    } if data['have-trn'] == "no",
    {
      key: {
        html: 'Teacher reference number (TRN)'
      },
      value: {
        html: data.trn or 'Not given'
      },
      actions: {
        items: [{
          text: 'Change',
          href: "trn"
        }]
      }
    } if data['have-trn'] == "yes",
    {
      key: {
        html: 'Have you been awarded QTS?'
      },
      value: {
        html: data['have-qts']
      },
      actions: {
        items: [{
          text: 'Change',
          href: "have-qts"
        }]
      }
    } if data.qtsAnswered,
    {
      key: {
        html: 'Do they have qualified teacher status (QTS)?'
      },
      value: {
        html: data['has-qts-from-provider']
      },
      actions: {
        items: [{
          text: 'Change',
          href: "how-qts"
        }]
      }
    } if data['has-qts-from-provider']
  ]
}) }}
