
{# {%- if data['emailAuth'] == 'true' -%}
<p>Confirm the details you’ve entered are correct. Also, check the email address we have for you.</p>
{%- endif -%} #}

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  titleText: "Personal details",
  rows: [
    {
      key: {
        html: 'Email'
      },
      value: {
        html: data['email'] | title if data['email'] else 'email@example.com'

      }
    },
    {
      key: {
        html: 'Mobile phone'
      },
      value: {
        html: data['phone'] | title if data['phone'] else '07827999613'

      },
      actions: {
        items: [{
          text: 'Change',
          href: "phone"
        }]
      }
    },
    {
      key: {
        html: 'Name'
      },
      value: {
        html: data['fullName'] | title if data['firstName'] else 'Ria Smith'
      },
      actions: {
        items: [{
          text: 'Change',
          href: "name"
        }]
      }
    },
    {
      key: {
        html: 'Date of birth'
      },
      value: {
        html:  (data['dob'] if data['dob'] else { day: 1, month: 12, year: 1989 }) | isoDateFromDateInput | govukDate
      },
      actions: {
        items: [{
          text: 'Change',
          href: "date-of-birth"
        }]
      }
    },
    {
      key: {
        html: 'Do you have a National Insurance number?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [{
          text: 'Change',
          href: "have-nino"
        }]
      }
    } if data['have-nino'] == "no",
    {
      key: {
        html: 'National Insurance number'
      },
      value: {
        html: data['national-insurance-number'] or 'Not given'
      },
      actions: {
        items: [{
          text: 'Change',
          href: "nino"
        }]
      }
    } if data['have-nino'] == "yes",
    {
      key: {
        html: 'Do you have a Teacher reference number (TRN)?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [{
          text: 'Change',
          href: "have-trn"
        }]
      }
    } if data['have-trn'] == "no",
    {
      key: {
        html: 'Teacher reference number (TRN)'
      },
      value: {
        html: data.trn or 'Not given'
      },
      actions: {
        items: [{
          text: 'Change',
          href: "trn"
        }]
      }
    } if data['have-trn'] == "yes",
    {
      key: {
        html: 'Have you been awarded QTS?'
      },
      value: {
        html: data['have-qts']
      },
      actions: {
        items: [{
          text: 'Change',
          href: "have-qts"
        }]
      }
    } if data['have-qts'] == 'No' or data['have-qts'] == 'Yes',
    {
      key: {
        html: 'Did a university, SCITT or school award your QTS?'
      },
      value: {
        html: data['has-qts-from-provider']
      },
      actions: {
        items: [{
          text: 'Change',
          href: "how-qts"
        }]
      }
    } if data['has-qts-from-provider'] != 'Yes' and data['have-qts'] == 'Yes',
    {
      key: {
        html: 'Where did you get your QTS?'
      },
      value: {
        html: data['itt-provider']  or 'Not given'
      },
      actions: {
        items: [{
          text: 'Change',
          href: "how-qts"
        }]
      }
    } if data['has-qts-from-provider'] == 'Yes' and data['have-qts'] == 'Yes'
  ]
}) if data['emailAuth'] != 'true' }}

<p class="govuk-body">
  Change any details that are incorrect. For some name changes you’ll need to provide evidence, for example, change of last name due to marriage.
</p>

<p class="govuk-body">
  You’ll need to provide evidence for changes to your date of birth.
</p>


{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  titleText: "Personal details",
  rows: [
  {
    key: {
      html: 'First names'
    },
    value: {
      html: data.dqtFirstName
    },
    actions: {
      items: [{
        text: 'Change',
        href: "name"
      }]
    }
  },
  {
    key: {
      html: 'Middle names'
    },
    value: {
      html: data.dqtMiddleName
    },
    actions: {
      items: [{
        text: 'Change',
        href: "name"
      }]
    }
  },
  {
    key: {
      html: 'Last names'
    },
    value: {
      html: data.dqtLastName
    },
    actions: {
      items: [{
        text: 'Change',
        href: "name"
      }]
    }
  },
    {
      key: {
        html: 'Date of birth'
      },
      value: {
        html:  (data['dob'] if data['dob'] else { day: 1, month: 12, year: 1989 }) | isoDateFromDateInput | govukDate
      },
      actions: {
        items: [{
          text: 'Change',
          href: "date-of-birth"
        }]
      }
    },
  {
    key: {
      html: 'Mobile phone'
    },
    value: {
      html: data['phone'] if data['phone'] else '07827999613'

    },
    actions: {
      items: [{
        text: 'Change',
        href: "phone"
      }]
    }
  },
  {
    key: {
      html: 'Email'
    },
    value: {
      html: data['email'] if data['email'] else 'email@example.com'

    },
    actions: {
      items: [{
        text: 'Change',
        href: "email"
      }]
    }

  }
  ]
}) if data['emailAuth'] == 'true' or  data['dqt'] == 'false'}}
