{% extends "layouts/forms.html" %}
{% set title %}We've found an account that matches your details{% endset %}
{% set existingEmailExample %}
  {{data.emailExample | maskEmail}}
{% endset %}
{% set emailCurrent %}
  {{ data.email or 'email@example.com' }}
{% endset %}


{% block form %}

<p>This could be because you already have a Teaching services account, and you're using a different email address or mobile phone number.</p>

<h2 class="govuk-heading-m">Is this your account?</h2>
{{ govukInsetText({
  text: existingEmailExample
}) }}


{{ govukRadios({
  name: "matchAccountEmail",
  id: "matchAccountEmail",
  value: data['matchAccountEmail'],

  items: [
    {
      value: "true",
      text: "Yes, sign in to this account",
      hint: {
        text: "We'll send a security code to " + existingEmailExample
      }
    },
    {
      value: "false",
      text: "No, this is not my account",
      hint: {
        text: "Create an account using davesmith@email.com"
      }
    }
  ]
}) }}
{% endblock %}
