{% extends "layouts/main.html" %}
{% set title = "You've created a Teaching Services account" %}


{% block content %}
<div class="govuk-panel app-panel--interruption">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% block beforeForm %}{% endblock %}

      <form method="post">
        <h1 class="govuk-panel__title">{{ title }}</h1>
        <p>
          Next time, you can sign in just using your email ({{ data.email or 'emaiL@example.com' }}).
        </p>


        <p class="govuk-!-margin-bottom-6">
        
          Continue to apply for QTS
        </p>
        
        {{ govukButton({
          classes: "app-button--inverse govuk-!-margin-bottom-0",
          html: buttonText if buttonText else 'Continue'
        }) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}