{% extends "_layouts/forms-interrupt.html" %}
{% set hideBackLink = true %}
{% set auth = true %}
{% set hideButton = true %}

{% set formAction = data.returnToService %}

<!-- title of page scenarios  -->
{% set title %}
  {%- if data['dqt-check'] == 'found' -%}
  <!-- A DQT record has been found - user creates account - accesses service -->
  You’ve created a {{ serviceName }}
  {% set hideButton = false %}
  {%- elseif data['dqt-check'] == 'failed' -%}
  <!-- No DQT record - account has been created - user can't access service -->
  You cannot access this service yet

  {%- elseif data['dqt-check'] == 'pending-qs' -%}
  <!-- No DQT record found - account has been created - TRA sent ticket to locate user - user can't access service -->
  You cannot access this service yet

  {%- elseif data['dqt-check'] == 'pending-npq' -%}
  <!-- No DQT record found - account has been created - TRA sent ticket to locate user - user CAN access service -->
  You’ve created a {{ serviceName }}
  {% set hideButton = false %}


  {%- elseif not data['dqt-check'] or data['dqt-check'] == 'auth' -%}
  <!-- basic auth journey - no DQT checks made -->
  You’ve created a {{ serviceName }}

  {% set hideButton = false %}

  {%- endif -%}
{% endset %}



{% block form %}
  {% include 'auth/_finish.html' %}
{% endblock %}
