{% extends "layouts/forms.html" %}
{% set title %}Did a university, SCITT or school award your QTS?{% endset %}

{% block form %}
{% set qtsHtml %}
{{ govukInput({
  id: "itt-provider",
  name: "itt-provider",
  label: {
    text: "Where did you get your QTS?",
    classes: "govuk-label--s"
  },
  hint: {
    text: "Your university, SCITT, school or other training provider"
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: "has-qts-from-provider",
  id: "has-qts-from-provider",
  value: data['has-qts-from-provider'],
  items: [
    {
      value: "Yes",
      text: "Yes",
      conditional: {
        html: qtsHtml
      }
    },
    {
      value: "No, I was awarded QTS another way",
      text: "No, I was awarded QTS another way"
    }
  ]
}) }}



{% endblock %}
