{% extends "layouts/forms.html" %}
{% set title %}What is your National Insurance number?{% endset %}

{% block form %}
{% set details %}
<p>You can <a target="_blank" href='https://www.gov.uk/lost-national-insurance-number'>find a lost National Insurance number</a>.</p>
<p>Or you can continue without it.</p>
{{ govukButton({
  text: "Continue without it",
  classes: "govuk-button--secondary"
}) }}
{% endset -%}



{{ govukInput({
  id: "[national-insurance-number]",
  name: "[national-insurance-number]",
  classes: "govuk-input--width-20",
  hint: {
    html: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
  },
  value: data['national-insurance-number'] or national-insurance-number
}) }}


{{ govukDetails({
  summaryText: "I don’t know my National Insurance number",
  html: details
}) }}

{% endblock %}
