.app-panel--interruption {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  text-align: left;

  h2,
  h3,
  h4,
  p,
  .govuk-list,
  .govuk-body,
  .govuk-label,
  .govuk-fieldset__legend,
  .govuk-heading-l,
  .govuk-heading-xl,
  .govuk-heading-m,
  .govuk-details__summary,
  .govuk-hint {
    color: govuk-colour("white");
  }

  a:not(:focus) {
    color: inherit;
  }
.govuk-button {
  color: govuk-colour("blue")!important;
}
  *:last-child {
    margin-bottom: 0;
  }
  .govuk-details__text {
    border-left: 5px solid #ffffff;
  }
  .govuk-radios__label::before,
  & ::after {
    color: govuk-colour("black");
    border-color: govuk-colour("black");
    background-color: govuk-colour("white");
  }
}
