{% extends "_layouts/forms.html" %}
{% set title %}Privacy notice{% endset %}
{% set hideButton = true %}

{% block form %}
<p>When you have a DfE (Department for Education) Identity account, DfE collects and processes some of your personal data.<p>

<p>DfE is the data controller for your information, as defined by data protection law.</p>

<p>DfE is referred to as ‘we’, ‘us’ and ‘our’ in this privacy policy.</p>

<h2 class="govuk-heading-m">What personal data we collect</h2>

<p>When you create a DfE Identity account, we collect the following information about you:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>email address</li>
  <li>mobile phone number</li>
  <li>date of birth</li>
  <li>National Insurance number</li>
  <li>initial teacher training (ITT) provider - where you gained qualified teacher status(QTS) or early years teacher status (EYTS).</li>
  <li>teacher reference number (TRN)</li>
</ul>

<h2 class="govuk-heading-m">How we use your personal data</h2>

<p>We use your personal data to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>create and secure your account</li>
  <li>let you access many DfE teaching services</li>
  <li>let you update your personal information in one place with DfE</li>
  <li>check if you’re registered in our database of educational professionals</li>
  <li>add you to our database of educational professionals</li>
  <li>help us inform government policy to improve education</li>
  <li>improve the service - we may ask you to participate in user research</li>
</ul>

<h2 class="govuk-heading-m">Who we share your data with</h2>

<p>We need to share personal data for the purposes mentioned in ‘How we use your personal data’. We do so in compliance with UK General Data Protection Regulation (GDPR) and the UK Data Protection Act 2018.</p>

<h3 class="govuk-heading-s">Customer service systems</h3>

<p>We use Zendesk to manage and respond to your queries.</p>

<p><a href="https://www.zendesk.co.uk/company/privacy-and-data-protection/#faq-general-1"  rel="noreferrer noopener" target="_blank"> Visit the Zendesk website to find out how they use and look after your data (“service data”)</a>(opens in new tab)</p>

<h3 class="govuk-heading-s">Hosting services</h3>

<p>We host the DfE Identity account service on Microsoft Azure. Your data is encrypted to prevent it from being accessed by unauthorised people.</p>

<h2 class="govuk-heading-m">How long we keep your personal data for</h2>

<p>We keep your personal data for as long as you use the service. We’ll keep it for no longer than 7 years after you stop using the service.</p>

<h2 class="govuk-heading-m">Your rights</h2>

<p>Under the Data Protection Act 2018, you have the right to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>access personal data</li>
  <li>be informed about how your data is being used</li>
  <li>get and reuse your data for different services</li>
  <li>have incorrect data updated</li>
  <li>have data erased</li>
  <li>object to how your data is processed in certain circumstances</li>
  <li>stop or restrict the processing of your data</li>
</ul>

<h2 class="govuk-heading-m">Get help</h2>

<p><a href=“https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f1453496-7d8a-463f-9f33-1da2ac47ed76/AF-Stage-1e64d4cc-25fb-499a-a8d7-74e98203ac00/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen”>Contact the Department for Education</a> if you want to ask us to remove your data or you want access to the data we have about you.</p>

<p>For further information, or to raise a concern, visit the <a href=“https://ico.org.uk/”>Information Commissioner's Office</a>.</p>

<h2 class="govuk-heading-m">Changes to this privcy notice</h2>

<p>We reserve the right to update this policy at any time.</p>

<p>We’ll provide you with a new policy if we make substantial changes.</p>

<p>We may also notify you in other ways about the processing of your personal information.</p>


{% endblock %}
