{% extends "layout.html" %}

{% block pageTitle %}
You might be eligible to apply for QTS – {{ serviceName }} prototype
{% endblock %}

{% block pageNavigation %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">You’re eligible to apply for qualified teacher status (QTS) in England</h1>
		<p class="govuk-body">Based on the information you’ve given us you can apply for QTS.</p>

		<h2 class="govuk-heading-m">Preparing to apply</h2>
		<p class="govuk-body">
			If you decide to apply, you'll need to provide a range of evidence. We'll ask you to upload some scans,
			photos, or original files.
		</p>

		<div class="govuk-inset-text">
			You may want to spend some time gathering all the documents you need before you begin your application.
		</div>

		<h2 class="govuk-heading-m">What we’ll ask for</h2>
		<p class="govuk-body">
			You’ll need to provide the following evidence when you apply.
		</p>

		<!-- Start of accordion -->
		<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
			<div class="govuk-accordion__section ">
				<div class="govuk-accordion__section-header">
					<h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          1. Proof of identity
        </span>
					</h2>
				</div>
				<div id="accordion-default-content-1" class="govuk-accordion__section-content"
					 aria-labelledby="accordion-default-heading-1">
					<p class="govuk-body">You must provide:</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>A passport, national identity card or driving licence that shows your date of birth and
							nationality. This must be valid and have not expired.
						</li>
					</ul>
					<p class="govuk-body">If the name on your proof of identity is different from that on your other
						documents, you need to provide evidence of your name change (for example, a divorce certificate
						or name change deed).</p>
				</div>
			</div>
			<div class="govuk-accordion__section ">
				<div class="govuk-accordion__section-header">
					<h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          2. Proof of qualifications
        </span>
					</h2>
				</div>
				<div id="accordion-default-content-2" class="govuk-accordion__section-content"
					 aria-labelledby="accordion-default-heading-2">

					<p class="govuk-body">To apply for QTS, you must hold a teaching qualification that’s equivalent to
						a ‘level 6’ qualification in the UK. The assessor will need to review the level and the duration
						of your qualification.</p>

					<p class="govuk-body">Learn more about <a
							href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">qualification
						levels in the UK</a>.</p>

					<p class="govuk-body">They’ll also need to understand the extent to which your qualification was
						focussed on developing practical teaching skills. As evidence, you must provide:</p>

					<p class="govuk-body">You must provide:</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>Your certificate from the qualification that led to you being a recognised teacher (this
							might be your university degree, or a separate qualification).
						</li>
						<li>A transcript (or diploma supplement) for that qualification, issued by the awarding body. If
							your teaching qualification was part of your university degree, use your degree transcript.
						</li>
					</ul>
					<p class="govuk-body">A transcript is a document from the institution where you studied. It lists
						all the modules or subjects you studied in each year, and the marks or grades you were awarded.
						Note that you must have completed all of your teaching qualification in {{ data["country"]
						}}.</p>
				</div>
			</div>

			<!-- English language -->
			<div class="govuk-accordion__section ">
				<div class="govuk-accordion__section-header">
					<h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            3. Proof of English language ability
                        </span>
					</h2>
				</div>
				<div id="accordion-default-content-3" class="govuk-accordion__section-content"
					 aria-labelledby="accordion-default-heading-3">
					<p class="govuk-body">We need to understand your level of English language proficiency. You can provide evidence in any of the following ways:</p>
					<ul class="govuk-list govuk-list--number">
						<li><h3 class="govuk-heading-s">Show you were born or hold citizenship of a country that’s exempt from English language requirements</h3>
							<p class="govuk-body">You can show this when you upload a copy of your passport or the official identification document for that country.</p></li>
						<li><h3 class="govuk-heading-s">Show you were taught in English in a country that’s exempt from English language requirements</h3>
							<p class="govuk-body">You can show this when you upload the transcript from your degree qualification.</p></li>
						<li><h3 class="govuk-heading-s">Show you were taught in English, but in a country that’s NOT exempt from English language requirements</h3>
							<p class="govuk-body">Upload the ‘Medium of instruction’ (MOI) from your degree qualification. You can get this by contacting the institution where you studied.</p></li>
						<li><h4 class="govuk-heading-s">Show you hold an approved English language certificate</h4>
							<p class="govuk-body">You’ll need a Secure English Language Test (SELT) at level B2 of the Common European Framework of Reference for Languages (CEFR) scale. This is higher than the B1 proficiency the UK Home Office requires when people apply for UK citizenship, because you’ll be instructing students in English.</p>
							<p class="govuk-body">The test must be on the list of approved English language tests and awarded within the last 2 years before the date of your application.</p>
					</ul>
					<p class="govuk-body">Learn more about <a
							href="https://www.coe.int/en/web/common-european-framework-reference-languages/table-1-cefr-3.3-common-reference-levels-global-scale"
							class="govuk-link">level B2 English language</a>.</p>
					<p class="govuk-body">Find out about <a
							href="https://www.gov.uk/guidance/prove-your-english-language-abilities-with-a-secure-english-language-test-selt"
							class="govuk-link">approved test providers</a>.</p></li>
					<details class="govuk-details" data-module="govuk-details">
						<summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What about multiple nationalities?
    </span>
						</summary>
						<div class="govuk-details__text">
							<p class="govuk-body">If you’re a national of more than 1 country and both are exempt from
								English language requirements, you can choose which of them you use to apply for QTS.
								Remember, you must be able to show a passport (or the recognised identity document for
								that country).</p>
							<p class="govuk-body">If you hold a second nationality that is not exempt (and you apply for
								QTS using that nationality) you’ll need to prove your English language proficiency using
								one of the other methods.</p>
						</div>
					</details>
				</div>
			</div>

			<!-- Work History -->
			<!-- Version shown to applicants with more than 1 year, but less than 2 years -->
			{% if data['work-experience'] == 'between-1-and-2-years' %}
			<div class="govuk-accordion__section ">
				<div class="govuk-accordion__section-header">
					<h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4a">
                            4. Proof of your work history
                        </span>
					</h2>
				</div>
				<div id="accordion-default-content-4a" class="govuk-accordion__section-content"
					 aria-labelledby="accordion-default-heading-4a">

					<p class="govuk-body">You’ll need to show you’ve been employed as a teacher in a school for 1 UK school year (9 months of active teaching time) or more.</p>
					<p class="govuk-body">We’ll ask you to provide the name and email address of a contact who we can
						ask to confirm that your professional work experience:</p>

					<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
						<li>was in a full-time role where your main function was as a teacher (rather than other
							responsibilities in school)
						</li>
						<li>was gained working with children aged 5-16 (although we can accept experience with children
							aged 3-4 or 17-19 if the educational setting also included children aged 5-16)
						</li>
						<li>involved being responsible for a minimum of 4 children</li>
					</ul>

					<p class="govuk-body">If the assessor recommends awarding QTS, you understand that we’ll contact the
						references you’ve provided to verify your work history before the award is issued.</p>
					<p class="govuk-body">Note that as a teacher with more than 1 year of professional experience, but
						less than 2 years, you’ll need to complete a 2-year ‘statutory induction’ period as a newly
						qualified teacher.</p>
					<p class="govuk-body"><a
							href="https://www.gov.uk/government/publications/induction-for-newly-qualified-teachers-nqts">Learn
						more about statutory induction periods for newly qualified teachers.</a></p>

				</div>
			</div>
			{% endif %}

			<!-- Version shown to applicants with 2 years or more -->
			{% if data['work-experience'] == 'more-than-2-years' %}
			<div class="govuk-accordion__section ">
				<div class="govuk-accordion__section-header">
					<h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4b">
                            4. Proof of your work history
                        </span>
					</h2>
				</div>
				<div id="accordion-default-content-4b" class="govuk-accordion__section-content"
					 aria-labelledby="accordion-default-heading-4b">

					<p class="govuk-body">You’ll need to show you’ve been employed as a teacher in a school for 1 UK school year (9 months of active teaching time) or more.</p>
					<p class="govuk-body">We’ll ask you to provide the name and email address of a contact who we can
						ask to confirm that your professional work experience:</p>

					<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
						<li>was in a full-time role where your main function was as a teacher (rather than other
							responsibilities in school)
						</li>
						<li>was gained working with children aged 5-16 (although we can accept experience with children
							aged 3-4 or 17-19 if the educational setting also included children aged 5-16)
						</li>
						<li>involved being responsible for a minimum of 4 children</li>
					</ul>

					<p class="govuk-body">If the assessor recommends awarding QTS, you understand that we’ll contact the
						references you’ve provided to verify your work history before the award is issued.</p>

				</div>
			</div>
			{% endif %}

			<div class="govuk-accordion__section ">
				<div class="govuk-accordion__section-header">
					<h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
          5. Proof that you&rsquo;re recognised as a teacher
        </span>
					</h2>
				</div>
				<div id="accordion-default-content-5" class="govuk-accordion__section-content"
					 aria-labelledby="accordion-default-heading-5">
					<p class="govuk-body">As your education department or authority has an online register of teachers,
						you’ll need to provide any reference numbers we need to check your record.</p>

					<p class="govuk-body">The education department or authority must also confirm in writing:</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>that your authorisation to teach has never been suspended, barred, cancelled, revoked or
							restricted, and that you have no sanctions against you
						</li>
					</ul>
					<p class="govuk-body">You’ll need to provide a Letter of Professional Standing, which you can obtain
						by contacting:</p>

					<p class="govuk-body">Teachers Registration Board of South Australia (TRBSA)</p>

					<p class="govuk-body app-teaching-authority-address">Level 6,
						70 Pirie Street,
						Adelaide,
						South Australia 5000,
						Australia</p>

					<p class="govuk-body"><a href="mailto:info@trb.sa.edu.au" class="govuk-link"
											 rel="noreferrer noopener">info@trb.sa.edu.au</a></p>
					<p class="govuk-body"><a href="https://www.trb.sa.edu.au" class="govuk-link"
											 rel="noreferrer noopener" target="_blank">https://www.trb.sa.edu.au</a></p>
					<p class="govuk-body">This must be dated within 3 months of you applying for QTS.</p>
				</div>
			</div>
			<div class="govuk-accordion__section ">
				<div class="govuk-accordion__section-header">
					<h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
          6. Certified translations
        </span>
					</h2>
				</div>
				<div id="accordion-default-content-6" class="govuk-accordion__section-content"
					 aria-labelledby="accordion-default-heading-6">
					<p class="govuk-body">If your documents are not written in English, you must provide certified
						translations (at your own cost) for your:</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>qualifications</li>
						<li>transcripts</li>
						<li>proof that you’re recognised as a teacher</li>
					</ul>
					<p class="govuk-body">You do not need translations for ID or change of name documents.</p>

					<h3 class="govuk-heading-s">About certified translations</h3>
					<p class="govuk-body">Translations must be carried out by a certified translator, who must state (on
						the document or a separate certification page) that the translation is a true, accurate and
						correct rendering of the original.</p>

					<p class="govuk-body">Each one must include the date of the translation as well as the certified
						translator’s:</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>signature</li>
						<li>name and contact details</li>
						<li>official certification seal/stamp or ID number</li>
					</ul>
					<h3 class="govuk-heading-s">Finding a certified translator</h3>
					<p class="govuk-body">We cannot recommend translation providers. You may want to explore translators
						who are members of the <a href="https://www.iti.org.uk/component/itisearch/?view=translators"
												  rel="noreferrer noopener" target="_blank">Institute of Translating and
							Interpretation (opens in a new tab)</a>. Sometimes a university’s language department can
						also help.</p>
				</div>
			</div>
		</div>

		<a role="button" draggable="false" data-module="govuk-button" class="govuk-button govuk-button--start"
		   href="/qts/tsa/ga-account">Apply for QTS
			<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
				 viewBox="0 0 33 40" focusable="false" aria-hidden="true">
				<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
			</svg>
		</a>

		<h4 class="govuk-heading-s govuk-!-margin-top-5">Help us to improve this service</h4>

		<p class="govuk-body">We’re redesigning this service as part of the government’s plan to boost teacher
			recruitment from overseas, so we’d like to talk to people who want to come to England to teach.</p>

		<p class="govuk-body">Throughout 2022 we’re inviting people to chat on video calls – it’ll take no more than 60
			minutes.</p>

		<p class="govuk-body">If you’d like to help, follow the link below. If you match our search criteria, we’ll be
			in touch.</p>

		<p class="govuk-body"><a
				href="https://forms.office.com/pages/responsepage.aspx?id=yXfS-grGoU2187O4s0qC-fO-t7cRDD1Fs8CDk5513nBUOUE5QkFCSlg3WDlZT01ZTEZSOFlWVzJEMy4u"
				class="govuk-link" rel="noreferrer noopener" target="_blank">I’d like to take part</a></p>

	</div>
</div>

{% endblock %}
