{% extends "_layouts/main.html" %}
{% set formActionHtml %}
  {%- if formAction -%}
    action={{- formAction -}}
  {%- endif -%}
{% endset -%}



{% block beforeContent %}
{% include '_includes/back.html' %}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: data['errorMessageCopy'],
            href: "#email"
          } 
        ]
      }) if data['errorMessage'] == 'true' }} 
    
      {% if showSubheader %}
         <span class="govuk-caption-l">{{subHeader}}</span>
       {% endif %}
       {% if not showheader %}
        <h1 class="govuk-heading-l">{{ title | safe }}</h1>
       {% endif %}


      <form {{formActionHtml | safe }} method="post" novalidate spellcheck="false">
        {% block form %}{% endblock %}
        {% if not hideButton %}
        {{ govukButton({
          html: buttonText if buttonText else 'Continue'
        }) }}
      {% endif %}
      {{ secondaryButton | safe if secondaryButton }}
      </form>
    </div>
  </div>
{% endblock %}
