<p>We have located an existing account associated with <strong>{{ data.email-address or 'email@email.com' }}</strong></p>


{{ govukRadios({
  name: "eligibility",
  id: "eligibility",
  fieldset: {
    legend: {
      text: "Sign in?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "false",
      text: "Yes"
    },
    {
      value: "true",
      text: "No",
      hint: {
        text: "Create an account using a different email address"
      }
    }
  ]
}) }}
{{ govukDetails({
  summaryText: "Not your email address?",
  html: "
  <p>Something goes here.</p>
  "
  }) }}