{% extends "layouts/main.html" %}
{% set title = "Create a Teaching Services account" %}


{% block content %}
<div class="govuk-panel app-panel--interruption">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% block beforeForm %}{% endblock %}

      <form method="post" novalidate {% if data.features.validation.on %}data-validate{% endif %}>
        <h1 class="govuk-panel__title">{{ title }}</h1>
        <p>
          To create a Teaching Services account you'll need to provide your:
        </p>
        <p>We’ll ask for your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>personal email address</li>
          <li>name</li>
          <li>date of birth</li>
        </ul>


        <p class="govuk-!-margin-bottom-6">
        
          Once you've created your account you can Apply for a QTS
        </p>
        
        {{ govukButton({
          classes: "app-button--inverse govuk-!-margin-bottom-0",
          html: buttonText if buttonText else 'Continue'
        }) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}