{% extends "wizard.html" %}

{% block pageTitle %}
In which state/territory are you currently recognised as a teacher? – {{ serviceName }} prototype
{% endblock %}

{% set states = [
"Australian Capital Territory",
"New South Wales",
"Northern Territory",
"Queensland",
"South Australia",
"Tasmania",
"Victoria",
"Western Australia"
]
%}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<form class="form" action="/region-answer" method="post">

			{% from "govuk/components/radios/macro.njk" import govukRadios %}

			{{ govukRadios({
			idPrefix: "region",
			name: "region",
			fieldset: {
			legend: {
			text: "In which state/territory are you currently recognised as a teacher?",
			isPageHeading: true,
			classes: "govuk-fieldset__legend--l"
			}
			},
			hint: {
			text: "This means you have all the qualifications needed to teach in a state school. You’ll need to provide
			evidence of this if you apply for QTS."
			},
			items: states | regionsRadio
			}) }}

			<button class="govuk-button" data-module="govuk-button">Continue</button>

		</form>

	</div>
</div>

{% endblock %}
