{% extends "layout.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<!-- <h1 class="govuk-heading-xl">Radio Button question</h1> -->

		<form class="form" action="/sen-only-answer" method="post">

			{% from "govuk/components/radios/macro.njk" import govukRadios %}

			{{ govukRadios({
			idPrefix: "sen-only",
			name: "sen-only",
			fieldset: {
			legend: {
			text: "Are you qualified to work exclusively with children with special educational needs and disabilities
			(SEND)?",
			isPageHeading: true,
			classes: "govuk-fieldset__legend--l"
			}
			},
			hint: {
			text: "To apply for QTS using this service you'll need a qualification to teach all children, not just those
			with special needs."
			},
			items: [
			{
			value: "Yes",
			text: "Yes",
			checked: checked("sen-only", "Yes")
			},
			{
			value: "No",
			text: "No",
			checked: checked("sen-only", "No")
			}

			]
			}) }}

			<button class="govuk-button" data-module="govuk-button">Continue</button>

		</form>

	</div>
</div>

{% endblock %}
