{% extends "wizard.html" %}

{% block pageTitle %}
You're not eligible – {{ serviceName }} prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">
			You are not eligible to apply to get qualified teacher status (QTS) in England
		</h1>

		<p>You can find out <a href="https://getintoteaching.education.gov.uk/ways-to-train">how to train to become a
			teacher in England</a></p>
	</div>
</div>
{% endblock %}
