{% extends "layout.html" %}

{% block pageTitle %}
Not eligible for QTS in England – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">
			You’re not eligible to apply for qualified teacher status (QTS) in England
		</h1>

		<p>This is because:</p>

		<ul class="govuk-list govuk-list--bullet">
			{% if data['formal-training'] != 'Yes' %}
			<li>You have not completed a formal teaching qualification, for example, an undergraduate teaching degree or
				postgraduate teaching qualification.
			</li>
			{% endif %}

			{% if data['Degree'] != 'Yes' %}
			<li>You do not have a degree. As teaching in England is a graduate profession, you must have an
				undergraduate degree.
			</li>
			{% endif %}

			{% if data['special-educational-needs'] != 'Yes' %}
			<li>You are not qualified to teach children who are aged somewhere between 5 and 16 years.</li>
			{% endif %}

			{% if (data['english-proficiency'] == 'no') %}
			<li>You do not have sufficient evidence of English language proficiency.</li>
			{% endif %}

            {% if (data['prioritised-subjects-percentage'] == 'no') %}
            <li>You do not have sufficient experience in the required subjects.</li>
            {% endif %}

			{% if data['work-experience'] == 'less-than-1-year' %}
			<li>You do not have sufficient work experience as a teacher</li>
			{% endif %}

			{% if data['misconduct'] == 'Yes' %}
			<li>To teach in England, you must not have any findings of misconduct or restrictions on your practice.</li>
			{% endif %}
		</ul>

		{% if data['misconduct'] == 'No' %}
		<p class="govuk-body">You can find out <a href="https://getintoteaching.education.gov.uk/non-uk-teachers">how to
			train to become a teacher in England</a></p>
		{% endif %}

		<p class="govuk-body">If you have any questions about QTS contact the help team at:</p>
		<p class="govuk-body"><a class="govuk-link" href="mailto:qts.enquiries@education.gov.uk">qts.enquiries@education.gov.uk</a>
		</p>
	</div>
</div>

{% endblock %}
