{% extends "wizard.html" %}

{% block pageTitle %}
You're not eligible – {{ serviceName }} prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">
			You are not eligible
		</h1>
		<p>You are not eligible to apply to get qualified teacher status (QTS) in England because you are only qualified
			to teach Special Educational Needs setting.</p>
		<p>The requirement for QTS is that you must be qualified to teach at least one mainstream subject of the English
			school Curriculum. </p>
		<p>Find out how you can train to become a teacher in England <a
				href="https://getintoteaching.education.gov.uk/ways-to-train">here</a></p>
	</div>
</div>
{% endblock %}
