{% if data['alert'] == 'show' %}
   {% set alertMessage %}


   {% if data['editType'] == 'name-dqt' or data['editType'] == 'dob-dqt'%}
    <h3 class="govuk-notification-banner__heading">
      We’ve received your request to change your {{ data.alertType or 'name'}}
  </h3>
    <p class="govuk-body">We’ll review it and get back to you within 5 working days.</p>


    {% else %}
    <h3 class="govuk-notification-banner__heading">
      Your {{ data.alertType or 'name'}} has been updated
   </h3>
    {% endif %}
   {% endset %}

  {{ govukNotificationBanner({
    html: alertMessage,
    type: 'success'
  }) }}

{% endif %}


{% if data['showDqtDobAlert'] == 'show' %}
{% set alertMessageDob %}
<h3 class="govuk-notification-banner__heading">
  Confirm your correct date of birth
</h3>
<p class="govuk-body">We've got two different dates of birth for you. The one you entered when you created your DfE Identity account is different to the one already in our records. Change the incorrect date of birth.</p>

{% endset %}

{{ govukNotificationBanner({
  html: alertMessageDob
}) }}

{% endif %}
