<p>Personal details</p>

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  titleText: "Personal details",
  rows: [
  {
    key: {
      html: 'Name'
    },
    value: {
      html: data['fullName'] | title if data['firstName'] else 'Ria Smith'
    },
    actions: {
      items: [{
        text: 'Change',
        href: "name"
      }]
    }
  },
  {
    key: {
      html: 'Official name'
    },
    value: {
      html: data['dqtName'] +'<p class="govuk-hint govuk-!-font-size-14">Displayed on teaching certificates </p>'
    },
    actions: {
      items: [{
        text: 'Change',
        href: "name-dqt"
      }]
    }
  },
  {
    key: {
      html: 'Date of birth'
    },
    value: {
      html: (data['dob'] if data['dob'] else { day: 1, month: 12, year: 1989 }) | isoDateFromDateInput | govukDate
    },
    actions: {
      items: [{
        text: 'Change',
        href: "date-of-birth"
      }]
    }
  },
  {
    key: {
      html: 'Email'
    },
    value: {
      html: data['email'] | title if data['email'] else 'email@example.com'
    
    },
    actions: {
      items: [{
        text: 'Change',
        href: "email"
      }]
    }
  },
  {
    key: {
      html: 'Mobile number'
    },
    value: {
      html: data['phone'] | title if data['phone'] else '07827999617'
    
    },
    actions: {
      items: [{
        text: 'Change',
        href: "phone"
      }]
    }
  }
  ]
}) }}
