{% set officialName %}
  {{ data.dqtName }}
  <p class="govuk-hint govuk-!-font-size-14">Displayed on teaching certificates </p>
  {% if data['nameLozenge'] %}
 {% include 'includes/_lozenge.html' %}
  {% endif %}
{% endset %}

{% set officialDOB %}
2 December 1989
  <p class="govuk-hint govuk-!-font-size-14">Date of birth already in our records </p>
  {% if data['dobLozenge'] %}
 {% include 'includes/_lozenge.html' %}
  {% endif %}
{% endset %}

{% set IdDOB %}
{{ data.dob | isoDateFromDateInput | govukDate if data['dob'] else '1 December 1989' }}
  <p class="govuk-hint govuk-!-font-size-14">Entered when creating account </p>
  {% if data['dobLozenge'] %}
 {% include 'includes/_lozenge.html' %}
  {% endif %}
{% endset %}

{% set verifiedDOB %}
{{ data.dob | isoDateFromDateInput | govukDate if data['dob'] else '1 December 1989' }}
  {% if data['verifiedDob'] == 'true' %}
  <p class="govuk-hint govuk-!-font-size-14">Your verified date of birth.</p>
  {% endif %}
{% endset %}

<h3 class="govuk-heading-m">Personal details</h3>

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  titleText: "Personal details",
  rows: [
  {
    key: {
      html: 'Name'
    },
    value: {
      html: data['fullName'] | title if data['firstName'] else 'Ria Smith'
    },
    actions: {
      items: [{
        text: 'Change',
        href: "name"
      }]
    }
  },
  {
    key: {
      html: 'Official name'
    },
    value: {
      html: officialName
    },
    actions: {
      items: [{
        text: 'Change',
        href: "name-dqt-overview"
      }]
    } if data['nameLozenge'] != "show"
  } if data['showDqtName'] == "show",
  {
    key: {
      html: 'Date of birth'
    },
    value: {
      html: verifiedDOB
    },
    actions: {
      items: [{
        text: 'Change',
        href: "date-of-birth"
      }]
    } if data['verifiedDob'] == "false"
  } if data['showDqtDob'] != "show",
  {
    key: {
      html: 'Date of birth'
    },
    value: {
      html: IdDOB
    },
    actions: {
      items: [{
        text: 'Change',
        href: "date-of-birth-duplicate"
      }]
    } if data['dobLozenge'] != "show"
  } if data['showDqtDob'] == "show",
  {
    key: {
      html: 'Date of birth'
    },
    value: {
      html: officialDOB
    },
    actions: {
      items: [{
        text: 'Change',
        href: "dob-dqt-overview"
      }]
    } if data['dobLozenge'] != "show"
  } if data['showDqtDob'] == "show"
  ]
}) }}

<h3 class="govuk-heading-m">Sign in details</h3>

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  titleText: "Personal details",
  rows: [
  {
    key: {
      html: 'Email'
    },
    value: {
      html: data['email'] | title if data['email'] else 'email@example.com'

    },
    actions: {
      items: [{
        text: 'Change',
        href: "email"
      }]
    }
  },
  {
    key: {
      html: 'Mobile number'
    },
    value: {
      html: data['phone'] | title if data['phone'] else '07827999617'

    },
    actions: {
      items: [{
        text: 'Change',
        href: "phone"
      }]
    }
  }
  ]
}) }}
{% if data['showDqtDob'] == "show" or data['showDqtName'] == "show" %}
<h3 class="govuk-heading-m">Teacher reference number (TRN)</h3>

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  titleText: "Personal details",
  rows: [
  {
    key: {
      html: 'TRN'
    },
    value: {
      html: data['trn'] | title if data['trn'] else '1851018'

    }
  }
  ]
}) }}
{% endif %}
