{% extends "layouts/main.html" %}
{% set title = "Account details" %}
{% block pageTitle %}Apply for a QTS{% endblock %}
{% set serviceName %}Apply for QTS{% endset %}
{% set signedIn = 'true' %}


{% block beforeContent %}
{{ govukBackLink({
  href: "/auth/apply-for-qts",
  html: "Back to " + [serviceName]
}) }}



{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Teaching Services account</span>
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>
      {% include '../account/_summary-card.html' %}

      </div>
    </div>
{% endblock %}
