{% extends "layouts/forms.html" %}
{% set title = "Your account details" %}
{% set showSubheader = true %}
{% set subHeader = data.tsa %}
{% set signedIn = 'true' %}
{% set hideButton  = 'true' %}
{% set account  = 'true' %}


{% block beforeContent %}
  <div id="bannerBar">
   
{%- if data['service'] == 'qs' -%}
<a class="govuk-back-link" href="https://qualifications-prototype.herokuapp.com/landing-pages/qualifications"> Back to Access your teaching qualifications</a>

{%- else -%}
  <a class="govuk-back-link" href="/qts/apply-for-qts?alert=hide"> Back to {{ data.qtsLc }}</a>

{%- endif -%}
   
  </div>
  {% include 'account/_alerts.html' %}
{% endblock %}


{% block form %}

  {% include 'account/_summary-card.html' %}

{% endblock %}
