{% extends "layouts/forms.html" %}
{% set title %}Your email address{% endset %}


{% block form %}
<h1 class="govuk-heading-xl">{{ title | safe }}</h1>


  {{ govukInput({
    id: "[email]",
    name: "[email]",
    label: {
      text: "Email address",
      classes: "govuk-label--s"
    },
 
    hint: {
      html: "We'll use this to send you a code to confirm your email address. Do not use a work or university email that you might lose access to."
    },
    value: data['email'] | title if data['email'] else 'email@example.com'
  }) }}



{% endblock %}
