{% extends "layouts/forms.html" %}
{% set title = 'Provide your evidence' %}
{% set signedIn = 'true' %}
{% set notFullWidth = true %}
{% set backlink = true %}

{% block form %}
<p>Your evidence must be in pdf or jpeg format and be a scan of 1 of the following:</p>

<ul class="govuk-list govuk-list--bullet">
  {%- if data['editType'] == 'name-dqt' -%}
      <li>
        marriage certificate
      </li>
      <li>
        civil partnership certificate
      </li>
      <li>
        decree absolute and birth certificate
      </li>
      <li>
        statutory declaration
      </li>
      <li>
        deed poll      
      </li>
  {%- else -%}
      <li>
        birth certificate
      </li>
      <li>
        valid passport
      </li>
      <li>
        valid driving licence
      </li>
  {%- endif -%}
</ul>

<p>Your scan must be readable and smaller than 5MB.</p>

<h2 class="govuk-heading-s">Upload your evidence</h2>

{{ govukFileUpload({
  id: "fileUpload",
  name: "fileUpload",
  label: {
    text: "Upload a file"
  },
  value: data['fileUpload'] or defaultData.fileUpload 
}) }}

{% endblock %}
