{% extends "layouts/forms-interrupt.html" %}
{% set title %}DfE Identity account{% endset %}
{% set account  = 'true' %}
{% set signedIn = 'true' %}
{% set hideButton = 'true' %}




{% block form %}


<p class="govuk-!-margin-bottom-6">You can change sign in and personal details in your {{ serviceName }}. </p>
<p class="govuk-!-margin-bottom-6">You use your {{ serviceName }} to sign in to <b>'{{ data.qts }}'</b>. </p>

{{ govukButton({
    classes: "app-button--inverse govuk-!-margin-bottom-0",
    html: buttonText if buttonText else 'Continue'
  }) }}
{% endblock %}
