{% extends "_layouts/forms.html" %}
{% set title = 'Official name' %}
{% set signedIn = 'true' %}
{% set notFullWidth = true %}
{% set backlink = true %}

{% block form %}
<p>Tell us what you would like to change your name to.<p>

{{ govukInput({
  id: "[firstNameDQT]",
  name: "[firstNameDQT]",
  label: {
    text: "First name",
    classes: 'govuk-label--s'
  },
  hint: {
    text: "Or given names"
  },
  value: data['dqtFirstName'] or 'Victoria'
}) }}

{{ govukInput({
  id: "[middleName]",
  name: "[middleName]",
  label: {
    text: "Middle name (optional)",
    classes: 'govuk-label--s'
  },
  value: ''
}) }}

{{ govukInput({
  id: "[lastNameDQT]",
  name: "[lastNameDQT]",
  label: {
    text: "Last name",
    classes: 'govuk-label--s'
  },
  hint: {
    text: "Or family names"
  },
  value:  data['dqtLastName'] or 'Smith'
}) }}



{% endblock %}
