{% extends "layouts/forms.html" %}
{% set title %}How do you want get a security code{% endset %}


{% block form %}
<h1 class="govuk-heading-xl">{{ title | safe }}</h1>



{% set phoneHtml %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contact-by-phone",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  hint: {
    text: "For international numbers include the country code"
  },
  label: {
    text: "Mobile number"
  }
}) }}
{% endset -%}
{{ govukRadios({
  name: "contact",
  fieldset: {
    
  },
  hint: {
    text: "Add your mobile number to make your account more secure. We'll send a security code to this number by text message."
  },
  items: [
    {
      value: "Add mobile number",
      text: "Yes, add mobile number",
      conditional: {
        html: phoneHtml
      }
    },
    {
      value: "text",
      text: " No"
      
    }
  ]
}) }}


{% endblock %}
