{% extends "layouts/forms.html" %}
{% set title %}How do you want get a security code?{% endset %}


{% block form %}
<h1 class="govuk-heading-xl">{{ title | safe }}</h1>




{{ govukRadios({
  name: "codeType",
  id: "codeType",
  fieldset: {
    
  },
  hint: {
    text: "You'll need a security code to access your account."
  },
  items: [
    {
      value: "email",
      text: "Email",
      hint: {
        text: "t*****@gmail.com"
      }
    },
    {
      value: "text",
      text: " Text message",
      hint: {
        text: "0*****999627"
      }
      
    }
  ]
}) }}


{% endblock %}
