
{% extends "layouts/main.html" %}
{% block pageTitle %} {{serviceName}} prototype{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  <div class="app-masthead">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
            TRA Digital
          </h1>
          <div class="app-masthead__subtitle govuk-heading-l">Prototypes of {{serviceName}}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

<h2 class="govuk-heading-m">{{ data.qs }}  </h2>
<p>Journey includes basic auth + dqt lookup</p>
<p class="govuk-hint">Password for qual service (qs)</p>
<p><a href="/qualifications/start">Qualifications start page</a> </p>
<p><a href="/user-research/qual/account">Qualifications account-page</a> </p>
<p><a target="_blank" href="https://lucid.app/lucidspark/b88634d8-2452-4ed6-9c7c-010383770731/edit?view_items=EA-zAgXC1i4K&invitationId=inv_9a36d007-204a-41ed-b8c3-1f49d5e63a05">Lucid ID flow for the qual service</a> </p>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h2 class="govuk-heading-m">{{ data.qts }}  </h2>
<p>Journey incudes basic auth</p>

<p><a href="/qts/eligibility/start-eligibility">Check eligibility start page</a> </p>
<p><a href="/qts/eligibility/eligible">Eligible user start page </a> </p>
<p><a href="/qts/apply-for-qts">QTS task list - account view </a> </p>
<p><a  target="_blank" href="https://lucid.app/lucidspark/b88634d8-2452-4ed6-9c7c-010383770731/edit?view_items=KZDsx9Mr-.mh&invitationId=inv_9a36d007-204a-41ed-b8c3-1f49d5e63a05">Lucid flow of ID flow integrated with QTS </a> </p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h2 class="govuk-heading-m">Account created page + DQT end points scenarios </h2>
<p>User creates account and a DQT look up occurs</p>
<p>
  <a href="/auth/finish?dqt-check=found">Dqt record found</a> <br>
  <span class="govuk-hint">User creates account and continues into service</span>
</p>
<p>
  <a href="/auth/finish?dqt-check=failed">Dqt record NOT found</a> <br>
  <span class="govuk-hint">User is not permitted to continue</span>
</p>
<p>
  <a href="/auth/finish?dqt-check=pending">Dqt record Pending</a> <br>
  <span class="govuk-hint">User may be on the DQT - ticket raised for manual check - </span>
</p>
<p>
  <a href="/auth/finish?dqt-check=auth">Basic auth - no DQT</a> <br>
  <span class="govuk-hint">Standard pattern for basic auth</span>
</p>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h2 class="govuk-heading-m">Basic edge cases </h2>
<p>These scenarios demonstate the duplicate account prevention built into the basic auth flow</p>
<p>
  <a href="/user-research/qts/sign-in?email=new@email.com">Sign in (no account exists)</a> <br>
  <span class="govuk-hint">User attempts to sign in but does not have an account ( new@email.com )</span>
</p>
<p>
  <a href="/user-research/qts/create-account?email=existing@email.com&phone=07827999619">Create account (existing email match)</a> <br>
  <span class="govuk-hint">User attempts to create an account with an existing email ( existing@email.com )</span>
</p>

<p>
  <a href="/user-research/qts/create-account?phone=07827999618&email=new@email.com">Create account (existing mobile phone match)</a> <br>
  <span class="govuk-hint">User attempts to create an account with an existing mobile phone number ( 07827999618 )</span>
</p>
<p>
  <a href="/user-research/qts/create-account?email=davesmith@email.com&phone=07827999613&firstName=Dave&lastName=Smith">Create account (name and DOB match)</a> <br>
  <span class="govuk-hint">User attempts to create an account and their name and Dob match a record  ( Dave Smith )</span>
</p>
<p>
  <a href="/user-research/qts/create-account?email=head@school.com&phone=07827999613&firstName=Dave&lastName=Smith">Create account (shared email address)</a> <br>
  <span class="govuk-hint">User attempts to create an account and enters a shared school email address  ( head@school.com )</span>
</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">DfE Identity account - scenarios </h2>
<p><a href="/account/account-details?service=qs&showDqtDob=hide&showDqtName=show&showDqtDobAlert=hide&alert=hide">DQT name + ID Name & DOB data</a> </p>
<p><a href="/account/account-details?service=qs&showDqtDob=show&showDqtName=show&showDqtDobAlert=show&alert=hide">DQT DOB & ID DOB</a> </p>
<p> <a href="/account/account-details?service=qs&showDqtDob=hide&showDqtName=hide&showDqtDobAlert=hide&alert=hide">No DQT data</a> <br></p>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h2 class="govuk-heading-m">Basic auth journey</h2>
<p><a href="/auth/start">Auth flow</a></p>
  


<p >My account</p>
<p>GAI account functionality integrated within a service</p>
<p><a href="/account/account-details">My Account</a></p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h2 class="govuk-heading-m">Older work</h2>


{% set archive %}
<h2 class="govuk-heading-m">Other features </h2>
<p><a href="/auth/phone">Phone</a> Inpage form</p>
<p><a href="/auth/phone">Phone</a> Radio option view</p>
{% endset -%}

{{ govukDetails({
  summaryText: "Archived",
  html: archive
}) }}
</div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-s">Other links</h3>
  <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>
      <a href='https://tra-digital-design-history.herokuapp.com/get-an-identity/'>Design history for {{serviceName}}</a>
    </li>
    <li>
      <a href='https://github.com/DFE-Digital/get-an-identity-prototype'>Github repo</a>
    </li>
  
  </ul>
</div>
</div>
{% endblock %}
