{% extends "layouts/forms.html" %}
{% block content %}
  <div class="govuk-panel app-panel--interruption">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        {% if showSubheader %}
        <span class="govuk-caption-l">{{subHeader}}</span>
         {% endif %}
  
        <h1 class="govuk-heading-l">{{ title | safe }}</h1>
  
  
        <form {{formActionHtml | safe }} method="post" novalidate spellcheck="false">
          {% block form %}{% endblock %}
          {% if not hideButton %}
          {{ govukButton({
            html: buttonText if buttonText else 'Continue',
            classes: 'app-button--inverse govuk-!-margin-bottom-0'
          }) }}
        {% endif %}
        {{ secondaryButton | safe if secondaryButton }}
        </form>
        
      </div>
    </div>
  </div>
{% endblock %}
